* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background-color: #fff;
    color: white;
}

input,
textarea {
    padding: 12px;
    margin: 12px 0;
    font-family: "Inter", sans-serif;
    background-color: transparent;
    color: white;
    border: 1px solid #aaa;
    border-radius: 4px;
}

input::placeholder,
textarea::placeholder {
    color: #aaa;
    font-weight: bold;
}

.note-app__header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 16px;
    border-bottom: 1px solid #aaa;
    background-color: #293462;
}

.note-app__header h1 {
    margin: 8px 0;
    font-size: 22px;
    flex: 1;
    color: #fff;
}

.note-app__body {
    max-width: 1000px;
    margin: 16px auto;
    padding: 12px;
}

.note-app__body h2 {
    margin: 16px 0;
    color: #293462;
    font-weight: 600;
}

.note-app__body hr {
    margin: 16px 0;
    color: #293462;
    font-weight: 600;
}

.note-input {
    margin: 0 auto;
    max-width: 500px;
    margin-bottom: 48px;
}

.note-input input,
.note-input textarea {
    display: block;
    width: 100%;
}

.note-input__title {
    font-weight: 600;
    outline: none;
    color: #293462;
}

.note-input__title__char-limit {
    font-size: 14px;
    text-align: right;
    color: #293462;
    outline: none;
    font-weight: 600;
}

.note-input__body {
    min-height: 175px;
    outline: none;
    color: #293462;
    font-weight: 600;
}

.note-input button {
    display: block;
    width: 30%;
    padding: 10px;
    background-color: #0f3460;
    font-family: "Inter", sans-serif;
    color: white;
    border: 1px solid #0f3460;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}

.notes-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(min-content, max-content);
    gap: 16px;
    margin-bottom: 48px;
}

.notes-list__empty-message {
    text-align: center;
    color: #2c3639;
}

.note-item {
    border: 1px solid #aaa;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.note-item__content {
    padding: 12px;
    flex: 1;
}

.note-item__title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 10px;
    color: #0f3460;
}

.note-item__date {
    font-size: 12px;
    margin-bottom: 8px;
    color: #0f3460;
}

.note-item__body {
    font-size: 13px;
    color: #2c3639;
    line-height: 1.5;
}

.note-item__action {
    display: flex;
}

.note-item__delete-button,
.note-item__archive-button {
    display: block;
    width: 100%;
    background-color: transparent;
    border: 0;
    border-top: 1px solid #aaa;
    padding: 8px 0;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.note-item__delete-button {
    border-right: 1px solid #aaa;
    color: #cc2b1d;
}

.note-item__archive-button {
    color: #20d459;
}

.note-item__archive-button:hover {
    color: #146b30;
}

.note-item__delete-button:hover {
    color: #ad0f02;
}

.note-input .btn-create {
    margin-top: 30px;
    margin-bottom: 30px;
}

.btn-create:hover {
    background-color: #0f3460;
}

@media only screen and (min-width: 500px) {
    .notes-list {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 800px) {
    .notes-list {
        grid-template-columns: repeat(3, 1fr);
    }

    .note-search input {
        min-width: 400px;
        outline: none;
    }
}

@media only screen and (min-width: 800px) {
    .notes-list {
        grid-template-columns: repeat(4, 1fr);
    }
}
